@import "../public/assets/section-css/reset.css";
@import "../public/assets/section-css/mobile-menu.css";
@import "../public/assets/section-css/header.css";
@import "../public/assets/section-css/hero.css";
@import "../public/assets/section-css/about.css";
@import "../public/assets/section-css/course.css";
@import "../public/assets/section-css/why-choose.css";
@import "../public/assets/section-css/funfact.css";
@import "../public/assets/section-css/partner.css";
@import "../public/assets/section-css/testimonial.css";
@import "../public/assets/section-css/contact.css";
@import "../public/assets/section-css/footer.css";
@import "../public/assets/section-css/faq.css";
@import "../public/assets/section-css/call-action.css";
@import "../public/assets/section-css/auth-pages.css";
